*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222325;
}

@media screen and (max-width: 480px){
    header {
        position: relative;
        margin: 10px 50px;
        padding: 20px 0px;

    }
    
    header h2 {
        font-family: 'Carattere', cursive;
    }
    
    header, a {
        color: #D1D3D7;
        text-decoration: none;
    }
    
    header div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    header input {
        display: none;
    }
    
    header div:nth-child(2) {
        display: flex;
        gap: 25px;
        align-items: center;
    }
    
    header div:nth-child(2) a:first-child {
        background: #D1D3D7;
        color: #222325;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 16px;
        border-radius: 26px;
    }
    
    header div label {
        cursor: pointer;
    }
    
    header div:nth-child(2) nav a:first-child{
        color: #D1D3D7;
        background: none;
        height: 10px;
        display: flex;
        justify-content: right;
        padding: 0;
    }

    header div:nth-child(2) a:nth-child(1){
        display: none;
    }
    
    header div nav {
        position: absolute; 
        top: 100%; 
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column; 
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
    }
    
    header div input:checked ~ nav {
        max-height: 200px;
    }
    
    header div nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    header div nav ul li {
        border-bottom: 1px solid #3E4042;
        padding: 7px;
        font-family: 'Raleway', sans-serif;
    }
    
    header div nav ul li a {
        padding: 10px 16px;
        color: #D1D3D7;
        text-decoration: none;
        display: block;
        transition: background 0.5s;
    }
    
    header div nav ul li a:hover {
        background: #FFC552;
    } 


    .projects ul{
        padding-left: 44px;
        padding-right: 44px;
        list-style: none;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projects ul li{
        width: 256px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: #6219e0;
        margin-top: 20px;
        border-radius: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 20px;
    }

    div ul li:hover{
        cursor: pointer;
        transition: 0.5s;
        background: #5616C5;
    }

}

@media screen and (min-width: 481px) and (max-width:1024px){
    header {
        position: relative;
        margin: 10px 50px;
        padding: 20px 0px;
    }
    
    header h2 {
        font-family: 'Carattere', cursive;
    }
    
    header, a {
        color: #D1D3D7;
        text-decoration: none;
    }
    
    header div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    header input {
        display: none;
    }
    
    header div:nth-child(2) {
        display: flex;
        gap: 25px;
        align-items: center;
    }
    
    header div:nth-child(2) a:first-child {
        background: #D1D3D7;
        color: #222325;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 16px;
        border-radius: 26px;
    }
    
    header div label {
        cursor: pointer;
    }
    
    header div:nth-child(2) nav a:first-child{
        color: #D1D3D7;
        background: none;
        height: 10px;
        display: flex;
        justify-content: right;
        padding: 0;
    }
    
    header div nav {
        position: absolute; 
        top: 100%; 
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column; 
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
    }
    
    header div input:checked ~ nav {
        max-height: 200px;
    }
    
    header div nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    header div nav ul li {
        border-bottom: 1px solid #3E4042;
        padding: 7px;
        font-family: 'Raleway', sans-serif;
    }
    
    header div nav ul li a {
        padding: 10px 16px;
        color: #D1D3D7;
        text-decoration: none;
        display: block;
        transition: background 0.5s;
    }
    
    header div nav ul li a:hover {
        background: #FFC552;
    } 

    .projects ul{
        padding-left: 44px;
        padding-right: 44px;
        list-style: none;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .projects ul li{
        width: 456px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6219e0;
        border-radius: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 20px;
    }

    div ul li:hover{
        cursor: pointer;
        transition: 0.5s;
        background: #5616C5;
    }

}

@media screen and (min-width: 1025px){
    header {
        position: relative;
        margin: 10px 50px;
        padding: 20px 0px;

    }
    
    header h2 {
        font-family: 'Carattere', cursive;
    }
    
    header, a {
        color: #D1D3D7;
        text-decoration: none;
    }
    
    header div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    header input {
        display: none;
    }
    
    header div:nth-child(2) {
        display: flex;
        gap: 25px;
        align-items: center;
    }
    
    header div:nth-child(2) a:first-child {
        background: #D1D3D7;
        color: #222325;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 16px;
        border-radius: 26px;
    }
    
    header div label {
        cursor: pointer;
    }
    
    header div:nth-child(2) nav a:first-child{
        color: #D1D3D7;
        background: none;
        height: 10px;
        display: flex;
        justify-content: right;
        padding: 0;
    }
    header div nav {
        position: absolute; 
        top: 100%; 
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column; 
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
    }
    
    header div input:checked ~ nav {
        max-height: 200px;
    }
    
    header div nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    header div nav ul li {
        border-bottom: 1px solid #3E4042;
        padding: 7px;
        font-family: 'Raleway', sans-serif;
    }
    
    header div nav ul li a {
        padding: 10px 16px;
        color: #D1D3D7;
        text-decoration: none;
        display: block;
        transition: background 0.5s;
    }
    
    header div nav ul li a:hover {
        background: #FFC552;
    } 

    .projects ul{
        padding-left: 44px;
        padding-right: 44px;
        list-style: none;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .projects ul li{
        width: 456px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6219e0;
        border-radius: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 20px;
    }

    div ul li:hover{
        cursor: pointer;
        transition: 0.5s;
        background: #5616C5;
    }
}